@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Custom properties */

:root {

  --header-height: 3rem;
  --font-weight-regular: 400;
  --font-weight-semi: 600;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 800;

  /* colours */

  background-color: #F5F0E3;

  --primary-beige: #F5F0E3;
  --primary-dark: #061d5e;

  --secondary-greenish: #40BFC1;
  --secondary-sky-blue: #9AD0EC;
  --secondary-purple: #7A0BC0;
  --secondary-red: #DA1212;
  --secondary-orange: #FFAD60;
  
  
  --heading-font: 'Fugaz One', cursive; 
  --body-font: 'Hind Madurai', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /* sizes */

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* Resets */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  list-style:none;
  color: inherit;
}
/* End Resets */

/* Base styling */

body {

  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-semi-bold);
  color: var(--primary-dark);

}

/* End Base styling */

.about__link {
  text-decoration: underline;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--primary-dark);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--secondary-greenish);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*---- layout ----*/


.flex {
  display: flex;
  gap: 1em;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* navigation bar */

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color:  var(--primary-beige);
  box-shadow: 0 1px 4px rgba(155, 153, 48, 0.15);
}

/* CV Section */

.container {
  padding: 1em .8em;
  margin: 0 auto;
}

.about_box {
  margin: 1em 0 0 ;
}

.nav__list_about {
  display: flex;
}

.nav_link_about,
.about_me,
.about_container {
  padding: 5px;
  
}

.nav_link_about {
   color: var(--secondary-greenish);
}

.about_container {
  margin: 1em 0 0 ;
}

.cv_icons {
  margin: 2em 0 2em ;
}

.cv_img {
  border-radius: 20px;
  margin: 0 auto 2em;
  height: 200px;
  width: 150px;
}

.about_text {
  line-height: 1.7;
  margin: 0 0 2em;
}

.skills_heading {
  color: var(--secondary-greenish);
  margin: 0 0 2em;
  padding: 5px;
}

.circular {
  height: 100px;
  width: 100px;
  position: relative;  
} 

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: var(--secondary-greenish);
  border-radius: 100%;
}
 
 .circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-beige);
}
 
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
} 

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: var(--secondary-orange);
}

.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}

@keyframes left{
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  transform: rotate(180deg);
  z-index: 3;
 
}

.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}

@keyframes right{
  100%{
    transform: rotate(85deg);
  }
}
 
.circle .leftie .progress {
  z-index: 1;
  animation: left 4s linear both;
}

@keyframes leftie{
  100% {
    transform: rotate(180deg);
  }
}

.circle .rightie {
  transform: rotate(180deg);
  z-index: 3;
 
}

.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}

@keyframes rightie{
  100%{
    transform: rotate(45deg);
  }
} 

.progress_circle {
  margin-left: 1em;
}

.skills_sets {
  margin: 1em 0 0 ;
}

 @media screen and (min-width: 1000px){

    .container {
      padding: 3em 7em;
      margin: 0 auto;
    }

    .id {
      margin: 0 0 1em;
    }
    
    .about_box {
      margin: 5em 0 5em;
    }
    
    .nav__list_about {
      display: flex;
      position: relative;
      right: 2em;
    }
    
    .nav_link_about {

      text-align: center;
      border-radius: 20px;
      margin: 5px;
      justify-content: flex-start;
      float: right;
      width: 120px;
    }
    
    .heading_p {
      position: relative;
      right: .3em;
      display: inline-block;
      margin: 0 0 1em;
    }
    
    .about_info {
      font-weight: 100;
      white-space: nowrap;
      
    }
    .cv_icons {
      margin: 1em 0 0;
    }

    span {
      font-weight: var(--font-weight-semi-bold);
    }
    
    .about_container {
      display: flex;
    }
    
    .about_box_1 {
      display: flex;
      justify-content: space-between;
    }
    
    .cv_img {
      border-radius: 20px;
      margin: 0 auto;
      object-fit: cover;
      height: 200px;
      width: 150px;
    }
    
    .about_text {
      line-height: 1.3;
      width: 65%;
    }

 }

/*--nav--*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {

  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--primary-dark);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
} 

.nav__link {
  position: relative;
  color: rgb(255, 255, 255);
}

/* font weights */

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

/* ----- */

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-dark);
}

a.nav__link span.purple {
  color: #42E6A4;
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*-- Show menu --*/
.show {
  right: 0;
}

/*---- Home section ----*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  font-family: var(--heading-font);
}
.home__title-color {
  color: var(--secondary-greenish);
}

.home__social { 
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  transition-timing-function: ease-in;
  color: var(--secondary-greenish);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}


.button {
  display: inline-block;
  background-color: var(--primary-dark);
  color: var(--secondary-greenish);
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  color: #42E6A4;
}

/* About Section */

.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: .5rem;
}


/* Portfolio */

.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
  cursor: pointer;
}

.work__img img:hover {
  transform: scale(1.1);
}


/* --- footer----*/

.footer {
  background-color: var(--primary-dark);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__title:hover {
  transition-timing-function: ease-in;
  color: var(--secondary-greenish);
}

.footer__social{
  margin-bottom: var(--mb-4);
}

.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__icon:hover {
  transition-timing-function: ease-in;
  color: var(--secondary-greenish);
}

.skills__icon {
  text-align: left;
  margin: 0 var(--mb-2);
}


/* Laptop, ipad screens */

@media screen and (min-width: 768px){
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-items: center;
  }
}

/* Desktop/wider screens */

@media screen and (min-width: 1024px){
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    right: 10%;
  }
}